.add-owner{
    background-color: #4aa587;
    height: 100vh;
    overflow: auto;
    border: 1px solid #080707;
}

.owner-form{
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 80vh;
}

.owner-form h3{
  margin-left: 15vh;
  display: flex;
  font-size: 1.2em;
  justify-content: center;
  align-content: center;
  padding-bottom: 5px;
}


.input-owner-form {
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 3vh;
  margin-left: 17.5vh;
  height: 8vh;
  width: 60vh;
  justify-content: center;
  align-content: center;
}

.submit-button-add-owner {
  background-color: #047857; /* Replace with your desired background color */
  color: #ffffff; /* Replace with your desired text color */
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  justify-content: center;
  align-content: center;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    background-color: #005240; /* Replace with your desired hover background color */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
}

.button-container-add-owner{
  margin-left: 15vh;
  margin-top: auto;
  display: flex;
  justify-content: center;
}