.add-owner{
    background-color: #4aa587;
    height: 100vh;
    overflow: auto;
    border: 1px solid #080707;
}

.owner-form{
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 80vh;
  margin-top: 40px;
}

.owner-form h3{
  margin-left: 15vh;
  display: flex;
  font-size: 1.2em;
  justify-content: center;
  align-content: center;
  padding-bottom: 5px;
}


.input-owner-form {
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 1vh;
  margin-top: 1vh;
  margin-left: 15vh;
  height: 60px;
  width: 70vh;
  justify-content: center;
  align-content: center;
}

.submit-button-add-owner {
  background-color: #047857; /* Replace with your desired background color */
  color: #ffffff; /* Replace with your desired text color */
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  justify-content: center;
  align-content: center;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    background-color: #005240; /* Replace with your desired hover background color */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
}

.button-container-add-owner{
  margin-left: 15vh;
  margin-top: auto;
  margin-bottom: 5vh;
  display: flex;
  justify-content: center;
}

.input-owner-form:invalid + .span-addowner,
.input-owner-form:placeholder-shown + .span-addowner {
  display: block;
  margin-left: 15vh;
}

.span-addowner {
  font-size: 12px;
  padding: 3px;
  color: red;
  display: none;
  margin-left: 15vh;
}
.span-addowner-error{
  font-size: 15px;
  padding: 3px;
  color: red;
  margin-left: 15vh;
}

.select-addowner:invalid[focused="true"] ~ .span-addowner{
  display: block;
  margin-left: 15vh;
}