.signIn {
    background-color: #4AA587;
    height: 100vh;
    overflow: hidden;
    
}

.header {
    margin-left: 4px;
}

.form {
    border: 1px solid #ccc;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.form input {
    border-radius: 10px;
    padding: 10px;
    width: 250px;
    border: 1px solid #ccc;
    margin-right: 10px;
    margin-bottom: 20px;
   
}

.main {
    margin-top: 30px;
}

.roles {
    margin-right: 15px;
}

.clinics {
    padding: 8px 160px;
}

.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 450px;
}

.footer-bttn {
    display: flex;
    justify-content: flex-end;
    width: 450px;
    align-items: center;
}