.documentsPage {
    height: 53vh;
    overflow-y: auto;
}

.no-data-msg {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.no-documents-msg {
    color: #4AA587;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: larger;
}

.create-presc {

    display: flex;
    justify-content: center;
}

.create_prescription_button {
    background-color: #00897B;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 8px;
    margin-top: 16px; 
    margin-left: 8px;
    margin-right: 8px;
}

.create_prescription_button:hover {
    background-color: #2f6d58;
}