.popup-form-illness-history {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  max-width: 400px;
  width: 100%;
}

.popup-form-illness-history input:disabled {
  background-color: #f4f4f4;
  color: #999;
}

.popup-form-illness-history textarea:disabled {
  background-color: #f4f4f4;
  color: #999;
}

.button-container-illness-history {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.popup-form-illness-history h2 {
  font-size: 1.5em;
  margin-bottom: 15px;
}

.form-sections-illness-history {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.illnessform-patient {
  font-weight: bold;
}

.form-section-illness-history {
  width: 100%;
  margin-bottom: 20px;
}

.form-section-illness-history h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

.form-section-illness-history label {
  display: block;
  margin-bottom: 5px;
}

.form-section-illness-history select,
.form-section-illness-history input,
.form-section-illness-history textarea {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 10px;
}
.illness-history-form-select {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 10px;
}

.popup-form-illness-history select[name="illness_history_patient_id"] {
  width: 288px;
}

.form-button-illness-history {
  background-color: #4aa587;
  display: flex;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  align-content: center;
  margin-top: 20px;
  margin-right: 10px;
  border-radius: 8px;
}

.form-button-illness-history:hover {
  background-color: #2f6d58;
}

.overlay-illness-history-form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none;
}

.overlay-illness-history-form.active {
  display: block;
}

.input-edit-owner:invalid + .span-editowner,
.input-edit-owner:placeholder-shown + .span-editowner {
  display: block;
}

.span-illness-history-form {
  font-size: 12px;
  padding: 3px;
  color: red;
  display: none;
}
.span-illness-history-form-error {
  font-size: 15px;
  padding: 3px;
  color: red;
}

.illness-history-form-select:invalid[focused="true"]
  ~ .span-illness-history-form {
  display: block;
}
