.popup-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    max-width: 400px; /* Adjust the width as needed */
    width: 100%;
}

.popup-form input:disabled {
    background-color: #f4f4f4; /* Adjust the background color as needed */
    color: #999; /* Adjust the text color as needed */
  }

.popup-form textarea:disabled {
    background-color: #f4f4f4; /* Adjust the background color as needed */
    color: #999; /* Adjust the text color as needed */
}

.button-container {
    display: flex;
    justify-content: flex-end; /* Align buttons to the right */
    width: 100%; /* Ensure full width */
}

.popup-form h2 {
    font-size: 1.5em;
    margin-bottom: 15px;
}

.form-sections {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-section {
    width: 100%;
    margin-bottom: 20px;
}

.form-section h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc; /* Add underline to the section header */
    padding-bottom: 5px; /* Adjust as needed */
}

.form-section label {
    display: block;
    margin-bottom: 5px; /* Adjust the margin between label and input */
}



.form-section select,
.form-section input,
.form-section textarea {
    width: 100%; /* Adjust the width as needed */
    padding: 8px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 5px;
}

.popup-form select[name="illness_history_patient_id"] {
    width: 288px; /* Adjust the width as needed */
  }

.form-button {
  background-color: #4aa587;
  display: flex;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  align-content: center;
  margin-top: 20px;
  margin-right: 10px;
  border-radius: 8px; /* Add rounded corners */  }
  
.form-button:hover {
    background-color: #2f6d58;
}