.navBar {
  height: 8vh;
  display: flex;
  box-shadow: 0px 14px 10px -15px rgba(66, 68, 90, 1);
}

.navbar-text {
  display: text;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
  list-style: none;
  height: 100%;
}

.navbar-text a {
  text-decoration: none;
  color: #4aa587;
  font-size: 16px;
  font-weight: bolder;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 20px;
  position: relative;
}

.navbar-text a::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background-color:#072d21;
  position: absolute;
  bottom: 0px;
  left: 0;
  transition: width 0s;
  border-radius: 10px;
  
}

.navbar-text a.active {
  color: #072d21;
}

.navbar-text a.active::after {
  width: 100%;
  height: 3px;
  color: #072d21;
  background-color: #072d21;
}


.navbar-text a:hover {
  color: #072d218d;
}

.navbar-text a:hover::after {
  width: 100%;
  color: #072d218d;
  background-color: #072d218d;
}

