.overlay-prescription-form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  z-index: 999; /* Ensure the overlay is below the form but above other content */
  display: none; /* Initially hide the overlay */
}

.overlay-prescription-form.active {
  display: block; /* Show the overlay when the form is open */
}

.popup-form-pres {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    z-index: 1000;
  }

  h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
  }
  .prescription-patient-label{
    margin-right: 10px;
    font-weight: bold;
  }
  .patient-name-prescription {
    margin: 0;
  }

  .form-sections-prescription-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-section-patient-prescription {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
  }
  .form-section-patient-prescription .input-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .form-sections-prescription-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-section-medication {
    display: flex;
    flex-direction: column;
  }
  .form-section-medication div {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }
  
  
  .select-prescriptionform,
  .input-prescriptionform {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #000000;
  }
  
  .medication-name-pres{
    margin-right: 10px;
  }

  .medication-dosage-pres{
    margin-left: 10px;
  }

  .medication-name-pres,
  .medication-amount-pres,
  .medication-dosage-pres{
    height: 80px;
  }
  

  .delete-medication {
    color: red;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }

  .add-medication {
    color: #4aa587;
  }

  .medication-space {
    width: 100%;
  }

  
  .button-container-prescription-form {
    display: flex;
    justify-content: flex-end;
  }
  
  
  .form-button-prescription-form {
    background-color: #4aa587;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 5px;
    border-radius: 8px; /* Adjust margin as needed */
  }
  
  .form-button-prescription-form:hover {
    background-color: #2f6d58;
  }
  
  .form-button-prescription-form:last-child {
    margin-right: 0;
  }

  .span-prescriptionform{
    font-size: 12px;
    padding: 3px;
    color: red;
    display: none;
  }
  
  .select-prescriptionform:invalid[focused="true"] ~ .span-prescriptionform{
    display: block;
  }