.popup-form-prescription {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    z-index: 1000;
    width: 55%;
  }

  .generated {
    margin-right: 10px;
  }


  .logo-prescription {
    display: flex;
    align-items: center;
  }
  .watermark {
    text-shadow: 2px 2px 4px #04040430;
    width: 40px;
    height: 100%;
    color: #4AA587;
  }

  .logo-text-prescription {
    color: #4AA587;
    font-family: Outfit;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    text-shadow: 2px 2px 4px #04040430;
    text-align: center;
  }

  .form-section-date {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  
  .label-date-static {
    margin-right: 5px; /* Adjust the margin as needed */
    font-weight: bold;
  }
  
  .clinic-data {
    text-align: right;
  }
  
  h2 {
    text-align: center;
    color: #333;
  }
  
  .form-sections-prescription {
    margin-top: 20px;
  }
  .form-section-title {
    margin-bottom: 20px;
    padding-bottom: 10px;
  }

  .prescription-title {
    text-align: center;
    font-size: larger;
    font-weight: bold;
  }
  
  .form-section-info {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #000;
  }


  
  .name-section {
    display: flex;
    align-items: center;
  }
  
  .label-prescription {
    font-weight: bold;
    margin-right: 10px;
  }
  
  .name-prescription,
  .medication-name,
  .medication-amount {
    margin: 0;
  }
  
  .medication-item {
    display: flex;
    justify-content: space-between;
  }
  
  .button-container-prescription {
    margin-top: 20px;
    text-align: center;
  }
  
  .form-button-prescription {
    background-color: #4aa587;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .form-button-prescription:hover {
    background-color: #2f6d58;
  }
  
  .form-button-prescription:last-child {
    margin-right: 0;
  }
  