.add-patient{
    background-color: #4aa587;
    height: 100vh;
    overflow: auto;
    border: 1px solid #080707;
}

.patient-form{
    height: 110vh;
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 80vh;
}

.patient-form h3{
  margin-left: 15vh;
  display: flex;
  font-size: 1.2em;
  justify-content: center;
  align-content: center;
  padding-bottom: 5px;
}

.select-patientform,
.input-patientform {
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 3vh;
  margin-left: 15vh;
  height: 8vh;
  width: 70vh;
  justify-content: center;
  align-content: center;
}

.patient-form-date {
  display: flex;  
  margin-left: 15vh;

    border-radius: 10px;
    padding: 10px;
    justify-content: center;
    align-content: center;
    height: 12vh;
    width: 70vh;
}



/* Styles for Photo Upload */
.patient-form-photo {
  flex-wrap: wrap;
  display: flex; 
    margin-left: 25vh;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 25px;
    height: 8vh;
    width: 50vh;
    background-color: #ffffff;
    justify-content: center;
    align-content: center;
}

#formPatient label{
    color: #000000;
    font-size: 1.2em;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc; /* Add underline to the section header */
    padding-bottom: 5px; /* Adjust as needed */
}

.submit-button-add-patient {
  background-color: #047857; /* Replace with your desired background color */
  color: #ffffff; /* Replace with your desired text color */
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  justify-content: center;
  align-content: center;
  margin-bottom: 8vh;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    background-color: #005240; /* Replace with your desired hover background color */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
}

.button-container-add-patient{
  margin-left: 15vh;
  margin-top: auto;
  display: flex;
  justify-content: center;
}