.ownerPage{
    color: #4aa587;
    margin-top: 30px;
    margin-right: 50px;
    margin-left: 40px;
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
    height: 57vh;
    overflow: auto;
}

.owner-info-page > div{
    margin-bottom: 15px;
    position: relative;
}

.owner-label {
    color: #072d21; 
    font-weight: bolder;
    margin-right: 8px;
    
}

.owner-value {
    color: #4aa587;
}

.edit-owner-button {
    background-color: #4aa587;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 8px; /* Add rounded corners */
    margin: auto;
}

.edit-owner-button:hover {
    background-color: #2f6d58;
}

.loading{
    color: #4aa587;
    margin-top: 30px;
    margin-left: 40px;
    display: flex;
    font-size: 17px;
    margin-bottom: 10px;
  }
  
.deleteOwnerButton {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #f44336;
    display: flex;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    align-content: center;
    border-radius: 8px;
  }