.signIn {
    height: 100vh;
    overflow: hidden;
}

#siginForm {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 567px; 
    margin: 0 auto; 
    padding: 20px; 
}

#siginForm input {
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
}


.main {
    margin-top: 15px;
    width: 100%;
}

.species-breed {
    width: 100%;
}

.firstNameSignIn {
    margin-right: 20px;
}

.addressSignin {
    width: 100%; 
    max-width: 400px !important; 
}

.roles {
    margin-right: 15px;
    padding: 10px 50px;
    border-radius: 10px;
}

.clinics {
    padding: 10px 100px;
    border-radius: 10px;
}

.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; 
    max-width: 450px; 
}

.buttonContainer {
    margin-top: 8px; 
    width: 100%; 
    display: flex;
    justify-content: flex-end; 
}

.buttonContainer button {
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
