.popup-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    max-width: 650px; /* Adjust the width as needed */
    width: 100%;
}

.popup-form input:disabled {
    background-color: #f4f4f4; /* Adjust the background color as needed */
    color: #999; /* Adjust the text color as needed */
  }

.popup-form textarea:disabled {
    background-color: #f4f4f4; /* Adjust the background color as needed */
    color: #999; /* Adjust the text color as needed */
}

.button-container {
    display: flex;
    justify-content: flex-end; /* Align buttons to the right */
    width: 100%; /* Ensure full width */
}

.popup-form h2 {
    font-size: 1.5em;
    margin-bottom: 15px;
}

.form-sections {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-section {
    flex: 1 1 calc(48% - 10px); /* Adjust the width of each section */
    margin-bottom: 20px;
    box-sizing: border-box; /* Add box-sizing to include padding and border in width */
}

.form-section h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc; /* Add underline to the section header */
    padding-bottom: 5px; /* Adjust as needed */
}

.form-section label {
    display: block;
    margin-bottom: 5px; /* Adjust the margin between label and input */
}

.form-section-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-section-row label {
    width: calc(48% - 10px); /* Adjust the width of labels with margin */
}

.form-section textarea {
    width: 100%; /* Adjust the width as needed */
    height: 100px;
    padding: 8px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 5px;
}

.popup-form select {
    width: 288px; /* Adjust the width as needed */
  }

.popup-form select[name="visits_patient_id"] {
    width: 288px; /* Adjust the width as needed */
  }

  .popup-form .form-button {
    background-color: #4aa587;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 5px;
    border-radius: 8px; /* Adjust margin as needed */
  }

  .popup-form .delete-button {
    background-color: #f44336;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 5px;
    border-radius: 8px; /* Adjust margin as needed */
  }
  
  .popup-form .form-button:hover {
    background-color: #2f6d58;
  }

  .name {
    font-weight: bold;
  }
  
  /* Styling for links within visit name */
  .name a {
    text-decoration: none;
    color: #4aa587;
    font-weight: bold;
    position: relative;
    transition: color 0.3s;
  }
  
  /* Styling for link hover effect */
  .name a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: #072d21;
    position: absolute;
    bottom: -1px;
    left: 0;
    transition: width 0.3s;
  }
  
  /* Styling for link hover effect */
  .name a:hover {
    color: #072d21;
  }
  
  /* Styling for link hover effect */
  .name a:hover::after {
    width: 100%;
  }

  .value p {
    font-weight: bold;
  }