.overlay-visit-form{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  z-index: 999; /* Ensure the overlay is below the form but above other content */
  display: none; /* Initially hide the overlay */
}

.overlay-visit-form.active {
  display: block; /* Show the overlay when the form is open */
}
/* Popup Form */
.popup-form-visit {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  padding-right: 0px;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  max-width: 650px;
  width: 100%;
  box-sizing: border-box;
  height: 75vh;
  display: flex;
  flex-direction: column;
}

.scrollable-area {
  flex: 1;
  padding-right: 20px;
  overflow-y: auto;
}


/* Disabled Input and Textarea Styles */
.popup-form-visit input:disabled,
.popup-form-visit textarea:disabled {
  background-color: #f4f4f4;
  color: #000000;
}

/* Form Sections Container Styles */
.form-sections-visit {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


/* Individual Form Section Styles */
.form-section-visit {
  flex: 1 1 100%;
  margin-bottom: 20px;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .form-section-visit {
    flex: 1 1 calc(48% - 10px);
  }

  .form-section-column-visit {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  .form-section-column-visit label {
    width: 48%; /* Adjust the width to control the alignment */
    box-sizing: border-box;
    margin-bottom: 0; /* Remove margin bottom to align items at the same level */
  }
}


/* Button Container Styles */
.button-container-visit {
  margin-top: auto;
  display: flex;
  justify-content: flex-end;
}

/* Button Styles */
.popup-form-visit .form-button-visit,
.popup-form-visit .delete-button-visit {
  margin-left: 5px;
  border-radius: 8px;
  padding: 10px 15px;
  cursor: pointer;
  border: none;
}

.form-button-visit{
  background-color: #4aa587;
  display: flex;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  align-content: center;
  margin-top: 20px;
  margin-right: 10px;
  border-radius: 8px;
}

/* Button Hover Styles */
.popup-form-visit .form-button-visit:hover {
  background-color: #2f6d58;
}

.popup-form-visit .delete-button-visit {
  background-color: #f44336;
  color: #fff;
}

/* Name Styles */
.name-visit {
  font-weight: bold;
}

/* Link Styles within Visit Name */
.name-visit a {
  text-decoration: none;
  color: #4aa587;
  font-weight: bold;
  position: relative;
  transition: color 0.3s;
}

/* Link Hover Effect Styles */
.name-visit a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background-color: #072d21;
  position: absolute;
  bottom: -1px;
  left: 0;
  transition: width 0.3s;
}

/* Link Hover Effect Styles */
.name-visit a:hover {
  color: #072d21;
}

/* Link Hover Effect Styles */
.name-visit a:hover::after {
  width: 100%;
}


/* Form Section Header Styles */
.form-section-visit h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

/* Label Styles */
.form-section-visit label {
  display: block;
  margin-bottom: 5px;
}

/* Form Section Row Styles */
.form-section-row-visit label {
  width: 100%;
}

/* Textarea Styles */
.popup-form-visit textarea {
  width: 100%;
  height: 100px;
  padding: 8px;
  box-sizing: border-box;
  margin-top: 5px;
  margin-bottom: 5px;
}
.input-visitform{
  width: 100%;
}

.select-visitform,
.input-visitform,
.input-visitform-duration {
  border-radius: 10px;
    border: 1px solid #000000;
}
.MuiInputBase-root.MuiOutlinedInput-root:hover {
  background-color: transparent; /* Set the background color to match the default */
  border-radius: 10px;
}



.input-visitform-duration {
  width: 100%;
  height: 56px;
}

/* Select Styles */
.popup-form-visit select {
  width: 100%;
}

/* Select Styles for Specific Name */
.popup-form-visit select[name="visits_patient_id"] {
  width: 100%;
}

.span-visitform{
  font-size: 12px;
  padding: 3px;
  color: red;
  display: none;
}
.span-visitform-error{
  font-size: 15px;
  padding: 3px;
  color: red;
  margin-right: auto;
  margin-top: 25px;
}

.select-visitform:invalid[focused="true"] ~ .span-visitform{
  display: block;
}

.input-visitform-duration:invalid[focused="true" ] ~ .span-visitform{
  display: block;
}

.photo-column:last-child {
  margin-left: auto;
}

.delete-photo-row {
  color: red;
  border: none;
  padding: 10px 10px;
  margin-top: 5px;
  cursor: pointer;
}

.input-visitform-image {
  flex-wrap: wrap;
  display: flex;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  height: 50px;
  width: 100%;
  background-color: #ffffff;
  justify-content: center;
  align-content: center;
}

.add-photo-row {
  color: #4aa587;
}

.photos-table {
  margin-top: 20px;
}

.edit-photos-column-bar {
  display: grid;
  grid-template-columns: 2fr 5fr 1fr 1fr 1fr;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
  font-weight: bold;

  height: 3vh;
  border-bottom: 1px solid black;
  text-align: center;
}

.column-photo_delete,
.column-photo_edit,
.column-description,
.column-visit_add,
.column-file {
  grid-column: span 1;
}

.photo-list {
  align-items: center;
}

.edit-photo-item {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  justify-content: space-between;
  display: grid;
  grid-template-columns: 2fr 5fr 1fr 1fr 1fr;
  align-items: center;
  text-align: center;
  justify-items: center;
}
.photo-item:nth-child(even) {
  background-color: lightgray;
}
.photo-item:nth-child(odd) {
  background-color: white;
}

.photo-name {
  grid-column: span 1;
  font-weight: bold;
  max-width: 95%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  font-weight: bold;
}

.photo-name a {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-decoration: none;
  color: #4aa587;
  font-weight: bold;
  transition: color 0.3s;
  position: relative;
}
.photo-name a:hover::after {
  width: 100%;
}
.photo-name a:hover {
  color: #072d21;
}
.photo-name a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background-color: #072d21;
  position: absolute;
  bottom: -1px;
  left: 0;
  transition: width 0.3s;
}

.photo-description {
  grid-column: span 1;
  text-align: left;
  font-weight: bold;
  white-space: normal;
}

.photo-edit,
.photo-delete,
.photo-add {
  text-align: center;
  grid-column: span 1;
}

.photo-delete button {
  color: red;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}
.photo-add button {
  color: #4aa587;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}
