@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Outfit&display=swap");

* {
  box-sizing: border-box;
  font-family: Outfit;
  margin: 0;
  padding: 0;

}

.home, .prescription {

  height: 90vh;
  align-items: center;
  font-size: 3rem;
}

.app-conatiner {
  background-color: brown;
  min-height: 100vh; 
  display: flex;
}

.app {
  max-width: 100vw; 
  max-height: 100vh;
  
}
