.addClinic {
  height: 100vh;
  overflow: hidden;
}

#formClinic {
  height: 60vh;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  margin: auto;
  width: 500px;
}

#formClinic input {
  border-radius: 8px;
  padding: 10px;
}

.name, .address{
    width: 400px;
}

.postcode {
    margin-right: 20px;
}

.code-city {
  display: flex;
  width: 100%;
  align-items: center;
}
